<testSettings>
  <testSetting id="SuiteSettings">{
  "HomePageUrl": "https://www.moonpig.com/uk/",
  "FlowersPageUrl": "https://www.moonpig.com/uk/Gift/Flowers/",
  "DatabaseSettings": {
    "DatabaseServerInstance": null,
    "ObjectRepositoryDatabase": null,
    "TestDataDatabase": null
  },
  "WebDriverSettings": {
    "HubType": {
      "Value": "Local",
      "ConstrainingTypeName": "Ravitej.Automation.Common.Drivers.CapabilityProviders.HubType"
    },
    "HubUrl": "http://localhost:4444/wd/hub",
    "Browser": {
      "Value": "Chrome",
      "ConstrainingTypeName": "Ravitej.Automation.Common.Config.SessionSettings.Browser"
    },
    "BrowserVersion": "*",
    "Platform": {
      "Value": "Windows",
      "ConstrainingTypeName": "Ravitej.Automation.Common.Config.SessionSettings.Platform"
    },
    "PlatformVersion": "7",
    "CommandTimeoutSeconds": 120,
    "ImplicitWaitSeconds": 0,
    "ScriptTimeoutSeconds": 10,
    "PageLoadTimeoutSeconds": 60,
    "MaximiseBrowser": true,
    "AdditionalCapabilities": [
      {
        "Id": "Sample",
        "Value": "Sample Value"
      }
    ]
  },
  "PageElementsIdsToExcludeFromDomComparison": []
}</testSetting>
  <testSetting id="Ravitej.Automation.Sample.Ui.Tests.Tests.WhenCreatingAccount">{
  "FirstName": "Ravitej",
  "Surname": "Aluru",
  "EmailAddress": "ravitej.aluru@gmail.com",
  "Title": "Mr",
  "InvalidPassword": "Short",
  "FirstNameValidationMessage": "Please enter your first name.",
  "Username": "someusername",
  "Password": "Secret!12"
}</testSetting>
  <testSetting id="Ravitej.Automation.Sample.Ui.Tests.Tests.SearchTests">{
  "Username": "someusername",
  "Password": "secret!"
}</testSetting>
  <testSetting id="Ravitej.Automation.Moonpig.Specifications.SessionHelper">{
  "Username": "someusername",
  "Password": "secret!"
}</testSetting>
</testSettings>