<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <!--<appSettings>
    <add key="SeleniumExecutablesPath" value="\\bms-homesvr\filestore\selenium\hub and node executables" />
    <add key="Username" value="raluru" />
    <add key="Password" value="yourPasswordBeforeEncryption" />
    <add key="Domain" value="ADESI" />
    If you need to change any of the data, please copy this section and replace the <EncryptedData> node with the keys.
  </appSettings>-->
  <appSettings>
    <add key="SeleniumExecutablesPath" value="Y:\Development\Applications\ApplicationDevelopment\Automation\Selenium Executables"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="Domain" value=""/>
  </appSettings>
</configuration>
