<testSettings>
  <testSetting id="SuiteSettings">
    {
    "HomePageUrl": "https://www.moonpig.com/uk/",
    "FlowersPageUrl": "https://www.moonpig.com/uk/Gift/Flowers/",
    "WebDriverSettings": {
    "HubType": {
    "Value": "BrowserStack",
    "ConstrainingTypeName": "Ravitej.Automation.Common.Drivers.CapabilityProviders.HubType"
    },
    "HubUrl": "http://hub-cloud.browserstack.com/wd/hub/",
    "Browser": {
    "Value": "Chrome",
    "ConstrainingTypeName": "Ravitej.Automation.Common.Config.DriverSession.Browser"
    },
    "BrowserVersion": "50.0",
    "Platform": {
    "Value": "Windows",
    "ConstrainingTypeName": "Ravitej.Automation.Common.Config.DriverSession.Platform"
    },
    "PlatformVersion": "7",
    "CommandTimeoutSeconds": 120,
    "ImplicitWaitSeconds": 0,
    "ScriptTimeoutSeconds": 10,
    "PageLoadTimeoutSeconds": 60,
    "MaximiseBrowser": true,
    "AdditionalCapabilities": [
    {
    "Id": "browserstack.user",
    "Value": "ravitejaluru2"
    },
    {
    "Id": "browserstack.key",
    "Value": "NHShh3PdzwLhsp2WRyg8"
    },
    {
    "Id": "browserstack.debug",
    "Value": "true"
    }
    ]
    },
    "ApplicationUnderTestSettings": {
    "Url": "http://www.beamly.com",
    "BasicAuthentication": false,
    "Users": [
    {
    "Username": "user1",
    "Password": "password1"
    },
    {
    "Username": "user2",
    "Password": "password2"
    }
    ],
    "PageElementsIdsToExcludeFromDomComparison": [],
    "DatabaseSettings": {
    "DatabaseServerInstance": null,
    "ApplicationDatabase": null,
    "TestDataDatabase": null
    }
    }
    }
  </testSetting>
  <testSetting id="Ravitej.Automation.Sample.Ui.Tests.Tests.WhenCreatingAccount">{
  "FirstName": "Ravitej",
  "Surname": "Aluru",
  "EmailAddress": "ravitej.aluru@gmail.com",
  "Title": "Mr",
  "InvalidPassword": "Short",
  "FirstNameValidationMessage": "Please enter your first name.",
  "Username": "someusername",
  "Password": "Secret!12"
}</testSetting>
  <testSetting id="Ravitej.Automation.Sample.Ui.Tests.Tests.SearchTests">{
  "Username": "someusername",
  "Password": "secret!"
}</testSetting>
  <testSetting id="Ravitej.Automation.Moonpig.Specifications.SessionHelper">{
  "Username": "someusername",
  "Password": "secret!"
}</testSetting>
</testSettings>